.nav-welcome-ctnr{
    display: flex;
}
.nav-ctnr{
    margin-top: 0;
    display: flex;
}
.nav-header{
    display: flex !important;
    justify-content: space-between;
}
.nav-icons{
    display: flex;
    column-gap: 15px;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.modal-input-box-ctnr,.modal-btn-ctnr{
    text-align: center;
    padding-top: 30px;
}

.modal-input-box{
    width: 250px;
    height: 40px;
    border-radius: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.primary-btn{
    cursor: pointer;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: rgb(17, 82, 147);
    color: #fff;
}

.grp-name-label{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.loading{
    margin-top: 20px;
    display:grid !important;
    grid-template-columns: auto !important;
    justify-content: center !important;
}
.err{
    color: red;
    font-size: 15px;
}
.welcome-txt{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 25px;
}
.find-icon,.add-icon{
    cursor: pointer;
}
@media screen and  (min-width: 832px) and (max-width: 985px) {
     .welcome-txt{
         margin-left: 2px;
         font-size: 15px;
     }
}  

@media  screen and (max-width:360px) {
    .welcome-txt{
        margin-left: 0;
        font-size: 20px;
    }
}